################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Engine/.vs/Engine/v16
/Engine/bin/Debug-Win32
/Engine/bin-int/Debug-Win32
/Engine/Engine.sln
/Engine/Engine.vcxproj
/Engine/Engine.vcxproj.filters
/Engine/Engine.vcxproj.user
/Sandbox/Sandbox.vcxproj.user
/Sandbox/Sandbox.vcxproj.filters
/Sandbox/Sandbox.vcxproj
/.vs/XEON/v16
/bin
/bin-int
*.bat
*.sln
/Engine/vendor/glad/bin/Debug32-windows-x86/glad
/Libraries/Vulkan
/Sandbox/XEON_Profile-Startup.json
/Sandbox/XEON_Profile-Shutdown.json
/Sandbox/XEON_Profile-Runtime.json
